<div class="container">

  <h1>Article Editor</h1>

  <div ng-repeat="block in $ctrl.blocks track by $index">
    <div>
      <button class="btn btn-default" ng-click="$ctrl.editBlock($index)">
        <span class="glyphicon glyphicon-edit"></span>
      </button>
      <button class="btn btn-default" ng-click="$ctrl.removeBlock($index)">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
    </div>
    <text-block ng-if="block.type ===  'text'" edit="false" article="block"></text-block>
    <product-block ng-if="block.type ===  'products'" edit="false" selected="block"></product-block>
  </div>

  <div>
    <button class="btn btn-default" ng-click="$ctrl.addBlock('text')">Add Text</button>
    <button class="btn btn-default" ng-click="$ctrl.addBlock('products')">Add Products</button>
  </div>

  <pre>{{ $ctrl.blocks | json:2 }}</pre>

</div>
