<div class="products">
  <div ng-if="!$ctrl.edit" ng-repeat="product in $ctrl.PRODUCTS | isSelected:$ctrl.selected.products" class="product">
    <div>
      <img ng-src="{{product.image}}">
    </div>
    <h5>{{product.title}}</h5>
    <span>{{product.price | currency:'£'}}</span>
  </div>
  <div ng-if="$ctrl.edit" ng-repeat="product in $ctrl.PRODUCTS" class="product"
    ng-click="$ctrl.selectProduct($index)" ng-class="{'selected': product.isSelected}">
    <div>
      <img ng-src="{{product.image}}">
    </div>
    <h5>{{product.title}}</h5>
    <span>{{product.price | currency:'£'}}</span>
  </div>
<div>
