.products {
  display: flex;
  width: 100%;
  flex-wrap: wrap;

  .product {
    cursor: pointer;

    &.selected {
      background-color: teal;
    }
  }

  .product div {
    display: inline-block;

    img {
      object-fit: cover;
      width: 200px;
      height: 250px;
    }
  }
}
